* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.center {
  text-align: center;
  font-size: 1.5rem;
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  border: 2px solid black;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  margin: 0 5px 10px 5px;
  padding: 15px;
  gap: 10px;
  transition: all 0.2s ease-in;
  box-shadow: 0 0 7px 3px gray;
}

.pricing-card p {
  align-self: flex-start;
}

.pricing-card p:first-of-type {
  align-self: center;
}

.pricing-card:hover {
  transform: scale(1.06);
}

hr {
  border: 1px solid black;
  width: 75%;
  margin-bottom: 20px;
}

.basic-plan {
  order: 0;
  background-color: whitesmoke;
}

.pro-plan {
  order: 1;
  flex-grow: 2;
  background-color: rgb(195, 228, 240);
}

.premium-plan {
  order: 2;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: 700;
  /* border: 2px solid yellow; */
  width: 95%;
  padding: 5px;
  background-color: gold;
  margin: 15px;
}

