* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}

.business-card {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(224, 216, 217);
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    font-size: 16px;
}

.full-name {
    font-size: 20px;
    font-weight: bold;
}

.designation {
    font-size: 18px;
    font-weight: 600;
    color: darkgray;
}

.company {
    font-size: 14px;
    font-weight: 400;
    color: grey;
}

.email {
    font-size: 15px;
    font-weight: 500;
}

.phone {
    font-size: 15px;
    font-weight: 500;
}


hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;;
}

.profile-image {
    max-width: 100%;
    width: 80%;
    margin-bottom: 10px;
}

.social-media a{
    text-decoration: none;
    margin: 10px;
    font-size: 13px;
}

.social-media h2 {
    margin-bottom: 15px;
}