* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgb(201, 155, 201);
}

#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding: 100px;
  
}

.card {
  display: flex;
  justify-content: space-between;

  width: 300px; 
  min-height: 450px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  box-shadow: 0 2px 10px black;
  font-size: 2rem;
}

.left {
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle {
  align-self: center;

  display: flex;
  flex-direction: column;
}

.middle p {
  font-size: 6rem;
}

.right {
  align-self: flex-end;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.right p {
  transform: rotate(180deg);
}

.deg {
  transform: rotate(180deg);
}

.three, .five {
  color: red;
}

.diamond-center {
  margin: 0 auto;
}