* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

.newspaper-layout {
  display: grid;
  max-width: 90%;
  margin: 10px auto;

  grid-template-areas:
    "title title title"
    "feature-article feature-article cover-image"
    "secondary-article secondary-article cover-image"
    "small-article1 small-article2 small-article3";

  place-items: stretch;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 20px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
   margin-bottom: 15px;
}

.cover-image img {
  max-width: 100%;
  width: 80%;
  display: block;
  margin: 0 auto;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  align-self: stretch;
  justify-self: center;
}

.title {
  background-color: navy;
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  grid-area: title;
}

.feature-article {
  grid-area: feature-article;

  background-color: lightgray;
  padding: 20px;
  text-align: left;
}

.secondary-article {
  grid-area: secondary-article;

  background-color: lightgray;
  padding: 20px;
  text-align: left;
}

.small-article1 {
  grid-area: small-article1;
  background-color: lightgray;
  padding: 20px;
  text-align: left;
}

.small-article2 {
  grid-area: small-article2;
  background-color: lightgray;
  padding: 20px;
  text-align: left;
}

.small-article3 {
  grid-area: small-article3;
  background-color: lightgray;
  padding: 20px;
  text-align: left;
}

.cover-image {
  grid-area: cover-image;

  background-color: lightgray;
  padding: 10px;
  display: grid;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .newspaper-layout {
    grid-template-areas:
      "title title title"
      "feature-article feature-article feature-article"
      "secondary-article secondary-article secondary-article"
      "cover-image cover-image cover-image"
      "small-article1 small-article1 small-article1"
      "small-article2 small-article2 small-article2"
      "small-article3 small-article3 small-article3";
    grid-template-rows: repeat(7, auto);
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .newspaper-layout {
    grid-template-areas:
      "title title title"
      "feature-article feature-article feature-article"
      "secondary-article secondary-article secondary-article"
      "cover-image cover-image cover-image"
      "small-article1 small-article2 small-article3";
    grid-template-rows: repeat(5, auto);
  }
}
